<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="ur">


    <xacro:include filename="robot_core.xacro" />
    <xacro:include filename="lidar.xacro" />
    <xacro:include filename="camera.xacro" />
    <xacro:include filename="imu.xacro" />
    <xacro:include filename="gps.xacro" />
    <xacro:include filename="gazebo_control.xacro" />
    <xacro:include filename="ur.urdf.xacro" />
    <!-- <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/> -->
    <!-- <xacro:include filename="ros2_control.xacro" /> -->


</robot>